body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  padding: 20px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}